<div class="center hero-unit">
  <h1>Welcome to Chores!</h1>

  <h2>
    This is the home page for the
    <a href="http://chores.com/">Personal version of Chores</a>
  </h2>
</div>
 <%if user_signed_in? %> 
  <div class="center hero-unit">
    <%= link_to "Start doing chores", chores_path, class: "btn btn-large btn-primary" %>
  </div> 
   <h3>List of new features:</h3>
    <ul>
        <li>Create dated and timed appointments, with end date and start date, display them correctly in the calendar</li>
        <li>Create view with current status quo: next actions, today's appointments, open projects without next action</li>
        <li>Redo the chores/calendar/project tree navigation, make it more logical</li>
        <li>separate view for done chores/projects</li>
        <li>Custom editing of occurrences</li>
    </ul>
  <h3>List of bugs/improvements:</h3>
    <ul>
        <li>Projects are not filtered by context</li>
        <li>Context is not saved, choretype is not saved when clicking on "new"</li> 
        <li>Chore with dates should become appointment, not todo</li>
        <li>Project sorting within one hierarchy level doesn't work</li>
        <li>Clicking back after update of a someday project moves to the list of active projects</li>
        <li>Projects, chores, emails are always pluralized in the header</li>
        <li>The user creation and devise rights don't have unit tests</li>
    </ul>
 
  <% else %>
    <div class="center hero-unit">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  
 
  


