<div class="center hero-unit">
  <h1>Welcome to Chores!</h1>

  <h2>
    This is the home page for the
    <a href="http://chores.com/">Personal version of Chores</a>
  </h2>
</div>
 <%if user_signed_in? %> 
  <div class="center hero-unit">
    <%= link_to "Start doing chores", chores_path, class: "btn btn-large btn-primary" %>
  </div> 
   <h3>List of new features:</h3>
    <ul>
        <li>Write controller and feature tests for status quo page</li>
        <li>Create dated and timed appointments, with end date and start date, display them correctly in the calendar</li>
        <li>Redo the chores/calendar/project tree navigation, make it more logical</li>
        <li>Dependencies removal (don't forget the tests)</li>
        <li>separate view for done chores/projects</li>
        <li>Custom editing of occurrences</li>
        <li>Projects by context (again context bigger!)
        <li>separate type of chores that are next step</li>
    </ul>
  <h3>List of bugs/improvements:</h3>
    <ul>
        <li>Start date and deadline are always set in update/create controllers with 0:00 time</li>
        <li>don't forget unit tests for correct context by new and edit controllers (they should have a dropdown with projects of correct context)</li>
        <li>Default calendar should be week and should start from Monday</li>
        <li>Remove intermediate show view when creating objects</li>
        <li>Projects are not filtered by context</li>
        <li>Context is not saved, choretype is not saved when clicking on "new"</li> 
        <li>Chore with dates should become appointment, not todo</li>
        <li>Clicking back after update of a someday project moves to the list of active projects</li>
        <li>Projects, chores, emails are always pluralized in the header</li>
        <li>The user creation and devise rights don't have unit tests</li>
        <li>Refactor rspec tests to test one thing at a time (scenarios)?</li>
    </ul>
 
  <% else %>
    <div class="center hero-unit">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  
 
  


