<div class="center hero-unit">
  <h1>Welcome to Chores!</h1>

  <h2>
    This is the home page for the
    <a href="http://chores.com/">Personal version of Chores</a>
  </h2>
</div>
 <%if user_signed_in? %> 
  <div class="center hero-unit">
    <%= link_to "Start doing chores", chores_path, class: "btn btn-large btn-primary" %>
  </div> 
   <h3>List of new features:</h3>
    <ul>
      <li>simpler view for archived chores and projects</li>
      <li>move emails to correct folders from inbox, including archive</li>
      <li>unit tests for everything about emails and archiving</li>
      <li>automatic link of new emails to the projects (via thread)</li>
      <li>new email indication on project</li>
      <li>replying an email and sending an email from Chores (from project)</li>
      <li>shared project  and it’s display</li>
      <li>shared project statuses and changes between them</li>
    </ul>
  <h3>List of bugs/improvements:</h3>
    <ul>
        <li>mark as read and delete don't work on alleko.com account</li>
        <li>Configuring inbox access in project:create controller is not DRY</li>
        <li>figure out the universal solution for timezones</li>
        <li>create helper that adjusts subtitle for all pages</li>
        <li>complicated occurrences removal. First/last occurrence removal and in the middle as well</li>
        <li>Logbook for done chores/projects</li>
        <li>All model search functions should return [], not nil</li>
        <li>let chore creation by clicking by a project in the review window</li>
        <li>Projects, chores, emails are always pluralized in the header</li>
        <li>The user creation and devise rights don't have unit tests</li>
        <li>nice small logo's for choretypes in the review window</li>
    </ul>
 
  <% else %>
    <div class="center hero-unit">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  
 
  


