<div class="center hero-unit">
  <h1>Welcome to Chores!</h1>

  <h2>
    This is the home page for the
    <a href="http://chores.com/">Personal version of Chores</a>
  </h2>
</div>
 <%if user_signed_in? %> 
  <div class="center hero-unit">
    <%= link_to "Start doing chores", chores_path, class: "btn btn-large btn-primary" %>
  </div> 
   <h3>List of new features:</h3>
    <ul>
        <li>import all appointments from Google Calendar</li>
        <li>occurrences removal. First/last occurrence removal and in the middle as well</li>
        <li>separate type of chores that are next step, only show them on the status quo</li>
        <li>make "review" view from projects - projects with all chores</li>
        <li>Redo the status quo/review/waiting for tree navigation, make it more logical</li>
        <li>Dependencies removal (don't forget the tests)</li>
        <li>separate view for done chores/projects</li>
        <li>Projects by context</li>
    </ul>
  <h3>List of bugs/improvements:</h3>
    <ul>
        <li>put new chore button on top of the list</li>
        <li>if dates are entered - make chore an appointment automatically via JS</li>
        <li>if choretype = waiting for, clear dates automatically via JS</li>
        <li>if parent project is changes, context should change automatically via JS</li>
        <li>make lists of chores more compact</li>
        <li>let chore creation by clicking by a project in the review window</li>
        <li>Orphan tasks should be a part of status quo</li>
        <li>if there is no appointments or empty projects - these parts should not appear at all</li>
        <li>Don't forget unit tests for correct context by new and edit controllers (they should have a dropdown with projects of correct context)</li>
        <li>Remove intermediate show view when creating objects, make sure it's redirected on the correct listing page (cookies? url update to keep it restful?)</li>
        <li>Projects are not filtered by context</li>
        <li>when clicking on "new", choretype and context should be correctly prefilled, url params should exist in the "new" and "edit buttons</li> 
        <li>Clicking back after update of a someday project moves to the list of active projects</li>
        <li>Projects, chores, emails are always pluralized in the header</li>
        <li>The user creation and devise rights don't have unit tests</li>
        <li>nice small logo's for choretypes in the review window</li>
        <li>unstable rspec test on the default value of the time_select option?</li>
    </ul>
 
  <% else %>
    <div class="center hero-unit">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  
 
  


