<h1>View as a tree</h1>

<% if @projects != nil and @projects.count != 0 %>

  <%= content_tag "ol", class: "sortable_tree",  data: {rebuild_url: rebuild_projects_url} do %>
    <%=  sortable_tree @projects %>
  <% end%>

<% else %>
   <h2>No projects yet, create one!</h2>
<% end %>

<%= link_to 'New Project', new_project_path,{:class => "btn btn-large btn-primary"}  %>
